.estilo1 {
    background-color: rgb(153, 153, 239);
}

.estilo2 {
    background-color: rgb(153, 239, 172);
}
//anidamiento de selectores algo que no esta soportado en css
.estilo1 { 
    .subestilo1 {

        background-color: rgb(217, 114, 114);
        font-size: 20px;
    }
}